{{ define "backstage/common/allow.html" }}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>没有访问权限</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/resource/static/plugin/layui/css/layui.css">
</head>

<body class="childrenBody">
	<div style="text-align: center; padding:11% 0;"> <i class="layui-icon" style="line-height:25rem; font-size:18rem; color: #393D50;">&#xe69c;</i>
		<p style="font-size: 20px; font-weight: 300; color: #999;">我勒个去，你没有访问权限!</p>
	</div>
</body>

</html>
{{ end }}